<div class="audio-player">
    <audio src="{{song.url}}" autoplay #player>
        Your browser does not support audio
    </audio>
    <div class="controls">
        <span class="material-icons" (click)="requestPrevSong()">skip_previous</span>
        &nbsp;
        <ng-container *ngIf="pause; else elseTemplate">
        <span class="material-icons" (click)="playPause()">play_arrow</span>
        </ng-container>
        &nbsp;
        <ng-template #elseTemplate>
            <span class="material-icons" (click)="playPause()">pause</span>
        </ng-template>
        <span class="material-icons" (click)="requestNextSong()">skip_next</span>
    </div>
</div>