<mat-toolbar color="primary" class="search-bar">
    <mat-toolbar-row class="row logo">
        <img src="{{logo}}" class="img-logo">
    </mat-toolbar-row>
    <mat-toolbar-row class="row form">
        <form class="search-form">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Type your Song/ Album">
            </mat-form-field>
            <button mat-button color="accent" type="submit">
                <span class="material-icons">search</span>
            </button>
        </form>
    </mat-toolbar-row>
    <mat-toolbar-row class="row filter">
        <tag-filter></tag-filter>
    </mat-toolbar-row>
</mat-toolbar>