<div class="container-topbar">
    <div class="topbar-searcher">
        <div class="topbar-searcher">
            <div class="logo">
                <img src="{{logo}}" class="img-logo">
            </div>
            <div class="searcher">
                <mat-toolbar-row class="row form">
                    <form class="search-form">
                        <mat-form-field class="example-full-width">
                            <input color="warn" type="text" matInput placeholder="Type your Song/ Album">
                        </mat-form-field>
                        <button mat-button color="accent" type="submit">
                            <span class="material-icons">search</span>
                        </button>
                    </form>
                </mat-toolbar-row>
            </div>
        </div>
    </div>
   
</div>