 .album {
   font-size: 1.2rem;
   color: white;
 }

 .loadingBackground {
   background-color: #1b1b1bb6
 }

 .container-total {
   display: flex;
   flex-direction: column;
   background-color: var(--color-background);
 }

 .topbar {
   background-color: var(--color-navbar);
 }


 .container {
   background-color: var(--color-background);
   padding-left: 0;
   padding-right: 0;
   height: -moz-fill-available;
   height: -webkit-fill-available;
   height: stretch;
 }

 .container-app {
   padding-top: 30px;
   padding-bottom: 20px;
   background-color: var(--color-background);
   
 }

 .app-left-advert {

   background-color: white;
 }

 .app-right-advert {

   background-color: white;
 }

 .app-content-music {

   background-color: var(--color-background);
   padding: 10px;
   -webkit-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
   -moz-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
   box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
 }



