<div class="container-total">
  <search-bar></search-bar>
  <div class="container-app">
      <div class="app-left-advert">
          <banner-column></banner-column>
      </div>
      <div class="app-content-music">
          <h2 class="class-h2">Discs</h2>
          <div class="music-discs">
            <covers-carousel></covers-carousel>
          </div>
          <div class="music-list">
            <songs-list
            [songs]="songs"
            [playing]="currentSong"
           ></songs-list>
          </div>
          <div class="music-player">
            <audio-player [song]="currentSong"></audio-player>
            <!-- <button mat-raised-button color="primary" class="action-button" (click)="play()">
              <mat-icon>play_circle_outline</mat-icon>play
            </button>
            <button mat-raised-button color="secundary" class="action-button" (click)="clickAdvertisment()">
              <mat-icon>play_circle_outline</mat-icon>clickAdvertisment
            </button>
            <mat-form-field>
              <input type="text" matInput id="amount" placeholder="Amount" [(ngModel)]="foundAmount">
            </mat-form-field>
            <button mat-raised-button color="primary" class="action-button" (click)="foundMyCompany()">
              <mat-icon>monetization_on</mat-icon>Found
            </button>-->
          </div>
      </div>
      <div class="app-right-advert">
        <banner-column></banner-column>
      </div>
  </div>
</div>
