<mat-card class="carousel">
    <div class="header">
        <div class="title carousel-text">Music for you</div>
        <div class="controls">
            <span class="material-icons" (click)="onMoveLeft()">keyboard_arrow_left</span>
            <span class="material-icons" (click)="onMoveRight()">keyboard_arrow_right</span>
        </div>
    </div>
    <div   fxLayout="row" fxLayoutAlign="center " fxLayoutGap="20px">
      <div fxFlex="1 1 25%"  *ngFor="let cover of covers">
        <img class="img-cover" src="{{cover.img}}" (click)="onSelectAlbum(cover.id)">
      </div>
    </div>
</mat-card>