:host {
    --carousel-background-color: #0A2239;
    --carousel-fount-color: #ffffff;
    --carousel-img-heigh: 190px;
    --carousel-img-width: 190px;
    --carousel-font-size: 25px;
    --carousel-controls-size: 40px;
}

.carousel {
    width: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--carousel-background-color);
    color: var(--carousel-fount-color);
}

.carousel-text {
    font-size: var(--carousel-font-size);
    padding-left: 20px;
}

.controls .material-icons {
    font-size: var(--carousel-controls-size);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.viewport {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cover {
    height: var(--carousel-img-heigh);
    width: var(--carousel-img-width);
    margin: 0px 5px 0px 0px;
    padding-bottom: 25px;
    padding-right: 15px;
    border-radius: 4px;
}