
<div class="card">
  <div class="wallet-card-content" >
    <div fxLayout="row"  fxLayoutAlign="center end" fxLayoutGap="10px" >
        <div fxFlex="1 1 40%">
          <img class="avatar" [src]="avatar" [matMenuTriggerFor]="appMenu"> 
        </div>
      <div fxFlex="1 1 50%">{{model.ether | number: '1.6'}} </div>
      <div fxFlex="1 1 10%" class="currency">ETH</div>
    </div>
  </div>
  </div> 

  <mat-menu mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="goEtherscan(model.link)">Watch in Etherscan</button>
    <button mat-menu-item (click)="openDialogQr(model.account)">Share your wallet</button>
  </mat-menu>