.wallet-card-content {
  margin-top: 1.3rem;
  font-weight: bold;

}

.card {
  margin: 10px;
  color: white;
  background: var(--color-navbar);
  border: var(--color-navbar);
}
.currency {
  font-size: 0.4rem;
}
.avatar {
  border-radius: 50%;
  cursor: pointer;
  
}

