
<div class="card">
 
  <div class="wallet-card-content" >
    <div fxLayout="row"  fxLayoutAlign="center " fxLayoutGap="20px">
        <div fxFlex></div>
        <div fxFlex="1 1">{{model.account  | slice:0:10}}...</div>
      <div fxFlex="1 1">{{model.ether | number: '1.6'}} ETH</div>
     
      <div fxFlex="1 1 10%"> <mat-icon  [matMenuTriggerFor]="appMenu">more_vert</mat-icon></div>
     
    </div>
  </div>
  <mat-menu mat-menu-top-right #appMenu="matMenu" xPosition="after" yPosition="below">
      <button mat-menu-item (click)="goEtherscan(model.link)">Watch in Etherscan</button>
      <button mat-menu-item (click)="openDialogQr(model.account)">Share your wallet</button>
    </mat-menu>
  </div> 