:host {
    --play-list-background-color: #132E32;
    --play-list-font-color: #ffffff;
    --play-list-font-size: 24px;
    --play-list-current-song: #1DD660;
}

.play-list {
   
    background-color: var(--play-list-background-color);
    color: var(--play-list-font-color);
    list-style-type: none;
    font-size: var(--play-list-font-size);
}

.song {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3D575D;
    font-size: 14px;
    margin-bottom: .5rem;
}

.song.current {
    color: var(--play-list-current-song);
    font-weight: bold;
}

.title {
  
    padding: 0px 8px;
}

.duration {
    width: 100px;
    text-align: right;
    padding-right: 15px;
}

.play-list {
    padding: .5rem 2rem .5rem 2rem;
}
 


@media only screen and (max-width: 930px) {
    .play-list {
        padding: .5rem 1rem 1rem 1rem;
    }
     
}