/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --color-navbar: #0A2239;
  --color-background: #132E32;
  --color-bluedark: #1D84B5;
  --color-bluelight: #53A2BE;

  --ad-width: 125px;
  --ad-width-reponsive: 100px;
}

* {
  box-sizing:border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color : transparent;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode : bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

.class-h2 {
  color: white;
  font-size: 32px;
}

.container-total {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.container-topbar {
  display: flex;
  flex: 0 0 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  width: 100vw;
  background-color: var(--color-navbar);
}

.img-logo {
  width: 52px;
  height: 52px;
  margin-top: 15px;
}

.topbar-searcher {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-right: 30px;
}

.searcher {
  align-self: center;
}

.topbar-stylemusic {

}

.container-header {
  background-color: var(--color-background);
  padding: 30px 50px;
}
.container-app {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  width: 100vw;
  padding: 30px 50px;
}

.app-left-advert {
  flex: 0 0 var(--ad-width);
  height: 85vh;
  margin-right: 40px;
  background-color: white;
}

.app-right-advert {
  flex: 0 0 var(--ad-width);
  height: 85vh;
  margin-left: 40px;
  background-color: white;
}

.banner {
  padding: 0 0 15px 0;
  width: 120px;
  margin-bottom: 15px;
  padding: 20px;
  cursor: pointer;
}

.app-content-music {
  background-color: var(--color-background);
  width: 100%;
  padding: 25px;
  -webkit-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.58);
}

.music-discs {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.disc {
  width: 180px;
  height: 180px;
  background-color: pink;
}

.disc-space {
  margin-left: 20px;
}

.music-list {

}

.music-player {
  display: flex;
  justify-content: center;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: var(--color-bluedark);
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: var(--color-bluedark);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-infix {
  margin-top: 20px;
  color: white;
}

@media only screen and (max-width: 1260px) {
  .container-topbar {
      display: flex;
      flex: 0 0 70px;
      justify-content: space-between;
      align-items: center;
      padding: 0px 35px;
      width: 100vw;
      background-color: var(--color-navbar);
  }
  
  .container-app {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  .column-banner {
    display: flex;
    justify-content: space-around;
  }

  .banner {
    padding: 0 0 15px 0;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    padding: 20px;
  }

  .app-left-advert {
    flex: 0 0 var(--ad-width-reponsive);
    height: 85vh;
    margin: 0px 0px 25px 0px;
    background-color: white;
  }
  
  .app-right-advert {
      flex: 0 0 var(--ad-width-reponsive);
      height: 85vh;
      margin: 25px 0px 0px 0px;
      background-color: white;
  }
  
  .app-content-music {
    padding: 25px;
  }
}

@media only screen and (max-width: 930px) {
  .disc {
      width: 100%;
      height: auto;
  }
}
