/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  /* color: var(--color-1, #ffffff); */

:host {
    --color-navbar: #0A2239;
    --color-background: #132E32;
    --color-bluedark: #1D84B5;
    --color-bluelight: #53A2BE;
}